{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
    <div class="container">
        <form id="register-form" name="register-form" action="{% url 'authentication:signUp' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" value="register">Sign Up Now.
            </button>
            <a class="button" href="{% url 'authentication:signIn' %}">Sign In.</a>
        </form>
    </div>
{% endblock %}