[run]
branch = True
source = .
omit =
    manage.py
    templates/
    static/
    core/asgi.py
    core/wsgi.py
    core/celery.py
    */apps.py
    */tests/*

[report]

exclude_lines =
    pragma: no cover

    def __repr__
    if self\.debug

    raise AssertionError
    raise NotImplementedError

    if 0:
    if __name__ == .__main__.:


ignore_errors = True
skip_covered = True
skip_empty = True
show_missing = True