{% extends "base.html" %}
{% block scripts %}
    <script>
        function delete_link(element, id) {
            console.log(get_cookie('csrftoken'));
            $.ajax({
                type: 'POST',
                url: "/links/delete/" + id + "/",
                headers: {"X-CSRFToken": get_cookie('csrftoken')},
                success: function (response) {
                    console.log(response)
                    window.location.replace(response)
                    element.parentElement.parentElement.remove();
                },
                error: function (xhr, errmsg, err) {
                    sendNotification('Error', {
                        body: "You can not delete this link.",
                        dir: 'auto'
                    });
                }
            });
        }
    </script>
{% endblock %}
{% block content %}
<div>
    <div class="row">
        <div class="column column-20"><span>Short url.</span></div>
        <div class="column column-40"><span>Origin url.</span></div>
        <div class="column column-10"><span>Expire time.</span></div>
        <div class="column column-10"><span>Views.</span></div>
        <div class="column column-20"><span>Delete.</span></div>
    </div>
    <hr style="border-top: 1px solid #8c8b8b;">
    <div class="row">
            <div class="column column-20" style="vertical-align: middle">
                <a class="button button-outline" href="/{{ link.short_link }}">
                    <span>
                    {{ link.short_link }}
                    </span>
                </a>
            </div>
            <div class="column column-40">
                <p>{{ link.origin_url }}</p>
            </div>
            <div class="column column-10">
                {% if link.permanent %}
                    <span>Never.</span>
                {% else %}
                    <span>{{ link.expire_time }}</span>
                {% endif %}
            </div>
            <div class="column column-10">
                <span>{{ summary }}</span>
            </div>
            <div class="column column-20">
                <a class="button" href="#" style="background-color: #EE3434;"
                   onclick="delete_link(this, '{{ link.id }}')"><span style="color: white;">Delete.</span>
                </a>
            </div>
        </div>
        <hr style="border-top: 1px solid #8c8b8b;">
         <div class="row">
            <div class="column column-20"><span>Date.</span></div>
            <div class="column column-20"><span>Number of views.</span></div>
        </div>
        {% for date, count in views.items %}
            <div class="row">
                <div class="column column-20" style="vertical-align: middle">
                    {{ date }}
                </div>
                <div class="column column-20" style="vertical-align: middle">
                    {{ count }}
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}